// Colors
$clr-DarkMagenta: hsl(300, 43%, 22%);
$clr-pink: hsl(333, 80%, 67%);
$clr-bg-rating: hsl(303, 10%, 53%);
$clr-text: hsl(300, 24%, 96%);
$clr-white: hsl(0, 0%, 100%);

// Font-family
$ff-spartan: "League Spartan", sans-serif;
